<div class="container">

<% if @order_list.nil? || @order_list.count == 0 %>

        <div class="text-center" id = center>
              <%= image_tag("https://chillydraji.files.wordpress.com/2015/08/empty_cart.jpeg", alt: "Empty Cart") %>
              <h5>Ohh!!! Your Cart is empty</h5>
              <p> Looks like you have not added anything to you cart. </p>
              <p> Go ahead & explore
              <%= link_to "SNACK", root_path, class: "fw-bolder text-decoration-none"%>!!!
              </p>
            </div>


<% else %>
  <% @order_lists.each do |lists| %>

    <% if lists.nil? %>
           <div class="text-center" id = center>
              <%= image_tag("https://chillydraji.files.wordpress.com/2015/08/empty_cart.jpeg", alt: "Empty Cart") %>
              <h5>Ohh!!! Your Cart is empty</h5>
              <p> Looks like you have not added anything to you cart. </p>
              <p> Go ahead & explore
              <%= link_to "SNACK", root_path, class: "fw-bolder text-decoration-none"%>!!!
              </p>
            </div>
    <% else %>
          <% order_id = lists.first.order_id %>
          <% order = Order.find_by(id: order_id.to_i) %>

 <div class="border border-dark m-3 p-2 rounded-5">
      <p>Order ID: <%= order.id %></p>
      <% lists.each do |list| %>
        <div class="card-product my-2">
                  <%  snacks = Snack.where(id: list.snack_id) %>
                  <% snack = snacks.first
                  name = snack.name
                  description = snack.description
                  price_per_unit = snack.price
                  total_price = list.snack_quantity * snack.price
                  @total += total_price.round(2)
                %>

            <%= cl_image_tag snack.image_with_default, alt: name, height: 80, width: 80 , class: "rounded" %>

            <div class="card-product-infos flex-grow-1">
              <h2><%= name %></h2>
              <p><%= description %></p>
            </div>
            <div class= mx-5 >
              <p><small>Price:<%= price_per_unit %>$</small></p>
              <p><small>Quantity:<%= list.snack_quantity %>pcs</small></p>
              <p><small>Total Price: <%= total_price.round(2) %>$</small></p>
            </div>
            <div>
              <p class= "text-end fs-6">
              <%= link_to "ðŸ—‘ï¸", order_item_path(list), data: {turbo_method: :delete} , class: " text-decoration-none text-end py-1 px-3 rounded-3"%>
              </p>
            </div>
        </div>
  <% end %>
</div>
        <div class="fixed-bottom-container d-flex align-items-end flex-column">
          <div class="mt-auto p-2">
            <%= @total %>$
            <%= link_to "Checkout", update_status_order_path(order), data: {turbo_method: :patch }, class: "text-decoration-none bg-primary text-white p-2 rounded-3" %>

          </div>
        </div>
    <% end %>
  <% end %>
<% end %>

</div>
