<div class="container">
  <div class="row my-2">
      <% @snacks.each do |snack| %>
      <% if snack.quantity > 0 %>
        <div class="col-6 col-md-3 mb-4" >
          <div class="bg-white rounded shadow h-100">
            <div class="d-flex">
              <div class="text-center pt-2 flex-grow-1">
                <% if snack.photo.attached? %>
                  <%= cl_image_tag snack.photo.key, alt: snack.name, height: 80, width: 80 , class: "rounded" %>
                <% else %>
                  <%= image_tag snack.image_url, alt: snack.name, height: 80, width: 80 , class: "rounded" %>
                <% end %>
              </div>
              <%= link_to "view", snack_path(snack), class:"text-decoration-none text-lowercase me-2" %>
            </div>
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= snack.name %> <span class="text-muted font-weight-normal"></span></strong>
              <small class="text-muted"><%= snack.description %></small>
              <div class="d-flex align-items-end justify-content-between pt-4">
                  <small class="flex-grow-1">$<%= snack.price %></small>
                  <small class="text-right flex-shrink-0"><%= snack.quantity %>pcs</small>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
