<div class="container">
  <div class="d-flex justify-content-between align-items-center border-bottom py-3 mb-3">
    <div>
      <%= link_to "Back to home", root_path, class: 'btn btn-secondary' %>
    </div>
    <div class="text-center">
      <%= image_tag "https://50gram.com.my/wp-content/uploads/2022/04/50G_2029-scaled.jpg", height: 100, width: 100, class: "rounded-circle mb-2" %>
      <h4><%= current_user.email %></h4>
    </div>
    <div>
      <%= link_to "+ Add New Items", new_snack_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row card-snack">
      <% @snacks.each do |snack| %>
        <div class="col-6 mb-4" >
          <div class="d-flex align-items-center bg-white rounded shadow px-4 card-body">
            <div class="py-3">
              <% if snack.photo.attached? %>
                <%= cl_image_tag snack.photo.key, alt: snack.name, height: 80, width: 80 , class: "rounded" %>
              <% else %>
                <%= image_tag snack.image_url, alt: snack.name, height: 80, width: 80 , class: "rounded" %>
              <% end %>
            </div>
            <div class="position-relative flex-grow-1 d-flex">
              <div class="position-absolute card-links">
                <%= link_to "Edit", edit_snack_path(snack), class:"text-decoration-none text-lowercase" %>
                <%= link_to "ðŸ—‘ï¸", delete_snack_path(snack), data: {turbo_method: :delete} , class: "text-decoration-none bg-primary py-1 px-3 rounded-3"%>
              </div>
              <div class="p-3 rounded-bottom d-flex flex-grow-1 flex-column">
                <strong><%= snack.name %> <span class="text-muted font-weight-normal"></span></strong>
                <small class="text-muted flex-grow-1 block"><%= snack.description %></small>
                <div class="d-flex align-items-end justify-content-between pt-4">
                  <div>
                    $<small class="flex-grow-1"><%= snack.price %></small>
                  </div>
                  <small class="text-right flex-shrink-0"><%= snack.quantity %>pcs</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>


</div>
