<div class="container mt-2">

  <div class="row">
    <div class="image_wrapper bg-white py-3 col-6">
      <% if @snack.photo.attached? %>
        <%= cl_image_tag @snack.photo.key, alt: @snack.name, height: 300, width: 300 , class: "rounded mx-auto d-block" %>
      <% else %>
        <%= image_tag @snack.image_url, alt: @snack.name, height: 300, width: 300 , class: "rounded mx-auto d-block" %>
      <% end %>
    </div>

    <div class="text_wrapper card col-6">
      <h1><%= @snack.name %></h1>
      <p>SGD <%= @snack.price %></p>
      <p>Only <%= @snack.quantity %> remaining in stock</p>
      <%= link_to 'Add to cart', add_to_cart_snack_path(@snack, @query_params), class: "b_add_to btn btn-primary" %>
      <p><strong>Description</strong></p>
      <p><%= @snack.description %></p>
    </div>
  </div>

</div>
